<div class="form-group row">
        
    <div *ngIf="!isUpdate">
        <label class="col-form-lable my-2">Student ID : <p class="requiredField">*</p> </label>
        <input type="text" class="form-control" [(ngModel)]="studentID" placeholder="Enter Student ID"/>
    </div>

    
    <div>
        <label class="col-form-lable my-2">First Name : <p class="requiredField">*</p></label>
        <input type="text" class="form-control" [(ngModel)]="fName" placeholder="Enter First Name"/>
    </div>

    
    <div>
        <label class="col-form-lable my-2">Last Name : <p class="requiredField">*</p></label>
        <input type="text" class="form-control" [(ngModel)]="lName" placeholder="Enter Last Name"/>
    </div>

    
    <div>
        <label class="col-form-lable my-2">DOB : <p class="requiredField">*</p> </label>
        <input type="text" class="form-control" [(ngModel)]="dob" placeholder="Enter DOB - YYYY-MM-DD"/>
    </div>

    <div>
        <label class="col-form-lable my-2">Address : <p class="requiredField">*</p> </label>
        <input type="text" class="form-control" [(ngModel)]="address" placeholder="Enter Student Address"/>
    </div>
</div>
<button class="btn btn-primary" (click)="addStudent()" *ngIf="student.studentID=='' ">
    Add
</button>

<button class="btn btn-primary" (click)="updateStudent()" *ngIf="student.studentID != ''">
    Update
</button>