<section class="bg-image">
    <div class="container">
          <ngx-typed-js [strings]="['Students.', 'Lecturers.']" [loop]="true" [typeSpeed]="80" [backSpeed]="70">
            <h2 class="title text-center py-4">LMS for <span class="typing"></span> </h2>
          </ngx-typed-js>

            <div class="row">
                <div class="col-md-6 col-sm-6 d-flex justify-content-center">
                    <div class="card m-2 cb1 text-center">
                        <div class="card-body">
                            <span class="card-number fw-bold">01</span>
                        
                        <h2 class="card-title mb-4">Students</h2>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam doloribus nihil magni exercitationem numquam fuga cupiditate odio dolor natus, similique in minima id nam nesciunt cumque illum, distinctio eaque explicabo?</p>
                        <a href="#" class="btn btn-outline-light">Go somewhere</a>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 d-flex justify-content-center">
                    <div class="card m-2 cb2 text-center">
                        <div class="card-body">
                            <span class="card-number fw-bold">13</span>
                        
                        <h2 class="card-title mb-4">Lecturers</h2>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam doloribus nihil magni exercitationem numquam fuga cupiditate odio dolor natus, similique in minima id nam nesciunt cumque illum, distinctio eaque explicabo?</p>
                        <a href="#" class="btn btn-outline-light">Go somewhere</a>
                        </div>
                        
                    </div>
                </div>
            </div>
    </div>
</section>