.search-background{
    background-image: url('../../../assets/Images/SearchBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color:floralwhite;
}

.searchBox{
    width: 50%;
    padding-top: 100px;
    letter-spacing: 0.25rem;
    box-shadow: 0 1.3rem 1rem rgba(0, 0, 0, 0.5);
}
.dataTable{
    color:floralwhite;
}
